version: '3.9'

services:
  zenml:
    build: ./docker/zenml
    container_name: zenml_server
    restart: always
    ports:
      - "8080:8080"
    environment:
      ZENML_STORE_URL: postgresql+psycopg2://zenml:zenml@sql:5432/zenml_metadata
      ZENML_DEFAULT_STACK: default
    depends_on:
      - sql
      - qdrant
    volumes:
      - zenml_store:/root/.zenml

  sql:
    build: ./docker/sql
    container_name: sql_db
    restart: always
    environment:
      POSTGRES_USER: zenml
      POSTGRES_PASSWORD: zenml
      POSTGRES_DB: zenml_metadata
    ports:
      - "5432:5432"
    volumes:
      - sql_data:/var/lib/postgresql/data

  qdrant:
    build: ./docker/qdrant
    container_name: qdrant_db
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage

volumes:
  zenml_store:
  sql_data:
  qdrant_storage: