services:
  vllm:
    build:
      context: ./vllm
    container_name: vllm
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - /home/happyuser/vscode/RAG/models:/models
    ports:
      - "8000:8000"
    environment:
      - MODEL_PATH=/models/llama3.1-8b-4bit

  fastapi:
    build: ./fastapi
    container_name: fastapi-gateway
    ports:
      - "8080:8080"
    depends_on:
      - vllm

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "8081:80"
    depends_on:
      - fastapi
